

/*#daysBlade {
	background-image: url('../img/emotions-2559504_1920.jpg');
}
#groupSize {
	background-image: url('../img/sunbeds-2436919_1920.jpg');
	width: 1280px;
  	height: 700px;
  	background-position: center;
  	background-size: cover;
}
#accommodationsBlade {
  	background-image: url('../img/family-2368181_1280.jpg');
  	background-size: cover;
}
#transBlade {
	background-image: url('../img/abstract-1239439_1280.jpg')
}
#foodBlade {
	background-image: url('../img/breakfast-hotel-1921530_1280.jpg')
}
#entBlade {
	text-align: center;
	height: 400px;
	width:100vw;
	background-color:black;
	margin:0 auto;
	display: ;
	background-image: url('../img/rescue-helicopter-922465_1280.jpg')
}*/
/*#aboutBlade {
	text-align: center;
	height: 400px;
	width:100vw;
	background-color:black;
	margin:0 auto;
	display: table;
	background-image: url('../img/oia-416135_1920.jpg')
}*/
input:focus, textarea:focus
{
    outline: none;
}
p, h3, h4, h5 {
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}
h1, h2 {
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
}
.navbar-inverse {
 	background-color: #91d8c1;
 	border:none;
 }
.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
 	height:80px;
 }
 #logo{
 	width: 200px;
     background-image: url(../img/GlobetrotterType.png);
     background-size: 200px 200px;
     background-position: 200px;
     margin-top: 15px
 }
 .navbar-nav>li>a {
    padding-top: 28px;
    padding-bottom: 15px;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.1em;

 }
 .navbar-inverse .navbar-nav>li>a {
     color: #ffffff;
}
#banner {
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	color: white;
	font-size:4em;
}
#search {
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
	color:#BBB;
	font-size: 1.6em;
	height: 40px;
	width:600px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#tripsHeader {
    margin: 50px 0 50px 0;
}
.chips h1{
	color: #76d5b6;
}
.chips:hover{
	text-decoration:none;
}
.chips p{
	margin-bottom: 0px;
}
.chips h4 {
    color: black;
}
.gtButton {
	height: 44px;
    background-color: #fe8181;
    /*width: 160px;*/
    padding: 12px;
    border-radius: 32px;
    border: none;
    margin: 0px 2px 0px 2px;
    font-family: 'Work Sans', sans-serif;
    line-height: 2px;
    text-align:center;
}
.gtButton:focus {
	outline:none;
}
.gtButton > a, .gtButton > a:hover,
.gtButton > a > input, .gtButton > a > input:hover,
.gtButton>a:focus,.gtButton>a>input:focus
{
	color:white;
	font-size: 17px;
    font-weight: 500;
    text-decoration:none;
    background: none;
    padding: 10px;
    border: none;
    outline: none;
}
.gtButton2 {
	height: 44px;
    background-color: white;
    /*width: 160px;*/
    padding: 12px;
    border-radius: 32px;
    border: none;
    margin: 0px 2px 0px 2px;
    font-family: 'Work Sans', sans-serif;
    line-height: 2px;
    border: 2px solid #64cdab;
}
.gtButton2:focus {
	outline:none;
}
.gtButton2>a,.gtButton2>a:hover,
.gtButton2>a>input,.gtButton2>a>input:hover,
.gtButton2>a:focus,.gtButton2>a>input:focus
{
	color: #49b693;
    font-size: 18px;
    font-weight: 500;
	font-size: 17px;
    font-weight: 500;
    text-decoration:none;
    background: none;
    padding: 10px;
    border: none;
    outline: none;
}
.gtButton3 {
	height: 40px;
    background-color: white;
    width: 100px;
    padding: 12px;
    border-radius: 32px;
    border: none;
    margin: 0px 2px 0px 2px;
    font-family: 'Work Sans', sans-serif;
    line-height: 2px;
    border: 2px solid #dfdfdf;
    margin:6px;
}
.gtButton3:focus {
	outline:none;
}
.gtButton3>a, .gtButton3>input,
.gtButton3>a:hover, .gtButton3>input:hover
.gtButton3>a:focus,.gtButton3>a>input:focus
{
	background-color: white;
    color: #a6a6a6;
    line-height: 2px;
    padding: 5px;
    border: none;
    text-decoration:none;
    font-size: 15px;
    outline: none;
}
.dailyNumber {
	text-align: center;
    font-size: 4em;
    font-weight: 300;
}
.dailyColumn {
	text-align: center;
}
.tripLocation {
	height: 70px;
    font-size: 3.5em;
    font-weight: 400
}
.costItem {
	font-size: 20px;
	color: black;
}
.costItem > .indivCost {
	font-weight: 600;
}
.gtSave {
    display: block;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
 	font-size: 1.2em;
    color: #bbb;   
}
.gtInput {
	border-radius: .35em;
    border: 1px solid #ddd;
    border-radius: .35em;
    border: 1px solid #ddd;
    width: 16em;
    height: 2.4em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    padding-left: .4em;
}
.gtInput select{
	display:none;
}
.gtInput::placeholder{
	color:#ddd;
}
.gtSaveButton {
	height: 3.2em;
    border-radius: 0 .35em .35em 0;
    height: 2.8em;
    border: 1px solid #ddd;
    padding: 0 1em;
    margin: -.8em;
    font-family: 'Work Sans', sans-serif;
    background-color: white;
}
#header {
	text-align: center;
	height: 400px;
	width:100vw;
	background-color:black;
	margin:0 auto;
	display: table;
	background-image: url('../img/amsterdam_1920x800.jpg');
	
    
}
#header, #welcome {
	display:table-cell;
    vertical-align:middle;
    text-shadow: 0 0px 16px rgba(0,0,0, .6);
}

.feature {
	background-color:white;
	height: 280px;
	width: 280px;
	border-radius: 10px;
	border: 1px solid #ddd;
	margin: 12px;
	color: white;
	text-shadow: 0 0px 16px rgba(0,0,0, .6);
	text-align:center;
}
#feature1 {
	background-image: url('../img/Paris.jpg');
	width: 280px;
  	height: 280px;
  	background-position: center;
  	background-size: cover;
	float:left;
}
#runningTotal {
	
	margin: 0 auto;
	bottom: 0px;
}
#feature2 {
	background-image: url('../img/telaviv.png');
	float:left;
	background-position: -178px -206px
}
#feature3 {
	background-image: url('../img/japan_fujiyama_mount_fuji_aerial_view_with_cityscape.jpg');
	float:left;
	background-size: 323px;
    background-position: -15px -1px;
}
#sidebar {
	float:right;
	width:300px;
	height: 80vh;
	background-color: white;
 	padding: 20px;
    margin: 20px;
    position: relative;
    border: 1px solid #91d8c1;
 
}
#locationBox{
	position:absolute;
	background-color:#91d8c1;
	width: auto;
    padding: 1px 15px;

    text-align:center;
   	color:white;
    left:45%;
    letter-spacing: .15em;
    text-transform: uppercase;
}
#wizard{
	position:relative;
	height: 80vh;
	padding-right: 0;
	margin-top:20px;
	margin-left: 0;
	padding-left: 0;

}
#login_box{
	margin-top: 20px;
}
#login {
	text-align:center;
	display:table-cell;
    vertical-align:middle;
}
#save {
	text-align:left;
	display:table-cell;
    vertical-align:middle;
}
#signup {
	text-align:center;
	display:table-cell;
    vertical-align:middle;
}
.entOptions {
	border-radius: 4px;
	border: 1px solid #eee;
	height: 150px;
	width:180px;
	background-color: white;
	display:inline-grid;
	font-size: 20px;
	margin: 20px 20px 20px 20px;
	cursor:pointer;
}
#tripTotal {
	color: #99d7c2;
}
.tripName {
	font-weight: 600;
    color: #91d8c1;
}
.costCategory {
	font-size: 1.5em;
}

.isSelected {
	background-color: #eee;
}
.container .parent-container {
	display: table;
	text-align:center;
}
 #content {
    display:table-cell;
    vertical-align:middle;
}
#sidebar .row {
	height: 40px;
	margin: 0px;
	padding: 10px 0px 0px 0;
	border-bottom: 1px solid #eee;
}
#sidebar p {
	margin: 0px;
	margin-top:10px;
}
#sidebar .category{
    display: inline;
    font-weight: 500;
    font-size: 24px;
    color: #72d1b2;
	display:inline;
}
.sidebarEdit {
	float: right;
	font-size: 14px;
	display: inline;
	padding: 0px;
	margin: 0px;
}
#daysImage {
    background-image: url('../img/Sun.gif');
    width: 300px;
    height: 250px;
    text-align: center;
    background-position: center;
    margin: auto;
    z-index: -1;
}
#groupImage {
    background-image: url(../img/Suitcases.gif);
    width: 240px;
    height: 200px;
    text-align: center;
    background-position: 0 170px;
    margin: auto;
    z-index: -1;
    background-size: 240px;
}
#headline {
	position: relative;
    text-align: center;
    top: -80px;
}
.star {
	font-size: 4em;
	color: #f3df3c;
}	
.dollarsign {
	cursor: pointer;
	font-size: 4em;
	color: #eee;
	margin: 0 10px 0 10px;
    -webkit-text-stroke-color: #ddd;
    -webkit-text-stroke-width: .5px;
}
#public, #rental {
	border-radius: 4px;
	border: 1px solid #eee;
	height: 180px;
	width:180px;
	background-color: white;
	display:inline-block;
	font-size: 20px;
	margin: 20px 20px 20px 20px;
	cursor:pointer;
}
#public {
	background-image: url('../img/noun_1250745_cc.svg');
}
.trips{
	border-radius: 8px;
	border: 1px solid #eee;
    height: 12em;
    width: 12em;
	background-color: white;
	display:inline-grid;
	font-size: 20px;
	margin: 20px 20px 20px 20px;
	cursor:pointer;

}
.trips h1 {
    margin-top: 0px;
    margin-bottom: -10px;
}
.trips h4 {
    margin-top: -8px;
    color: black;
}
.trips p {
    margin-bottom: 12px;
}
.trips:hover{
	background-color:#eee;
}
#public:hover, #rental:hover,
#public:focus, #rental:focus {
	background-color: #eee;
}
.login_row{
	padding-top: 1em;
}
